#root {
  max-width: 1300px;
  text-align: center;
}

.h2 {
  color: #060504aa;
  font-size: 1em;
  line-height: 1.1;
}

.meme {
  background-color: #53b756aa;
  box-shadow: 3px 3px 7px 1px rgba(0,0,0,.8);
  border-radius:10px;
  font-size:16px;
  width: 70%;
  padding: 5%;
  grid-column: 2/3;
  grid-row: 3/4;
}

.meme img {
  width: 200px;
  height: 200px;
}

.profilePic {
  grid-column: 2/3;
  grid-row: 1/2;
}

.profilePic img {
  width: 200px;
  height: 200px;
  border-radius: 70%;
  filter: drop-shadow(0 0 2em #53b756aa);
  grid-column: 2/3;
  grid-row: 4/5;
}

.profilePic:hover {
  filter: drop-shadow(0 0 2em #53b756aa); 
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 5em;
  justify-items: center;
  grid-auto-rows: minmax(150, auto);
}

.linkBtn {
  grid-column: 1/2;
  grid-row: 1/2;
}

.specialBtn img {
  width: 600px;
  height: 500px;
}

.specialBtn {
  grid-column: 1/2;
  grid-row: 3/4;
}

.inspoStyle {
  font-family: sans-serif;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-self: end;
  grid-column: 1/2;
  grid-row: 1/2;
}

.aboutMe {
  background-color: #53b756aa;
  box-shadow: 3px 3px 7px 1px rgba(0,0,0,.8);
  border-radius:10px;
  font-size:16px;
  width: 70%;
  padding: 10%;
  grid-column: 1/2;
  grid-row: 2/3;
}

.aboutMe:hover {
  filter: drop-shadow(0 0 2em #53b756aa);
}

.goals {
  background-color: #53b756aa;
  box-shadow: 3px 3px 7px 1px rgba(0,0,0,.8);
  border-radius:10px;
  font-size:16px;
  width: 70%;
  padding: 10%;
  grid-column: 2/3;
  grid-row: 2/3;
}

.goals:hover {
  filter: drop-shadow(0 0 2em #53b756aa);
}

.hobbies {
  background-color: #53b756aa;
  box-shadow: 3px 3px 7px 1px rgba(0,0,0,.8);
  border-radius:10px;
  font-size:16px;
  align-items: center;
  width: 70%;
  padding: 10%;
  grid-column: 3/4;
  grid-row: 2/3;
}

.hobbies:hover {
  filter: drop-shadow(0 0 2em #53b756aa);
}



