:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif,  Snell-Roundhand;
  line-height: 1.5;
  font-weight: 400;
  color: #dee4e8;
  background-color: #070605;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  margin: 1px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: .6em 1em;
  font-size: .75em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  height: 50px;
  width: 50px;
  transition: border-color 0.25s;
}

button:hover {
  filter: drop-shadow(0 0 .5em #ffa5dbe8);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f9f2e8;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #d2ffa5e8;
  }
}
